@font-face {
  font-family: 'MaisonFont';
  src: url('../fonts/fonnts.com-Maison_Neue_Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MaisonFont', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #d8d0bb;
}
  